@using MVC7days.ViewModels
@model EmployeeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        Hallo @Model.UserName<br/>
        ------------------------------<br />
        <b>Employee Data</b><br/>
        Employee name: @Model.EmployeeName <br />
        Employee Salary:
        <span style="background-color: @Model.SalaryColor">
        @Model.Salary
        </span>
    </div>
</body>
</html>
